  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<h2>Edit your profile</h2>
<form action="/users" method="POST">
 <div class="profile-card" > 
  <div class="form-group">
    <label for="name">Name:</label>
    <br>
    <input type="text" class="form-control" name="name" id="name" value="{{ name }}" placeholder="Jane Doe">
  </div>

  <div class="form-group">
    <label for="name">Photo (link):</label>
    <br>
    <input type="text" class="form-control" name="photo" id="photo" value="{{ photo }}" placeholder="https://image.jpg">
  </div>

  <div class="form-group">
    <label for="name">Experience Level:</label>
    <br>
    <input type="text" class="form-control" name="experience" id="experience" placeholder="Novice/Intermediate/Master" value="{{ experience }}">
  </div>

  <div class="form-group">
    <label for="name">Bio:</label>
    <br>
    <input type="text" class="form-control" name="bio" id="bio" value="{{ bio }}">
  </div>

  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Update</button>
</form>
</div>

{{!-- <p><a href="/users/{{username}}" target="_blank">View your profile</a></p> --}}

{{!-- 
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
        <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Profile Updated</h4>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> --}}