{{#if username}}
<div id="index-banner" class="parallax-container">
  <div class="section">
    <div class="container">
      <br><br><br>
      <p class="center bits-main">Meet {{ name }}!</p>
      <div class="row center">
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="/images/profile.jpg"></div>
</div>
{{> messages }}
<container>
  <div class="row center" id="holds">
    <div class="col-8 center" id="holds-profile">
      <div class="profile-card">
        <div class="card-image col-md pad-image-top">
        <img id="profile-photo-3" src="{{ photo }}">
        </div>
        <div class="card-content col-md" id="profile-experience">
        <h4><strong>Experience Level:</strong></h4>
        <p>{{ experience }}</p>
        <h4><strong>About Me:</strong></h4>
        <p>{{ bio }}</p>
        </div>
        <div class="center" id="social-media">
          <div class="row center">
            <div class="col center">
              <p class="center"><a href="https://www.twitter.com/{{ twitter }}"><img class="sm-icon" src="/images/twitter.png"></a></p>
              </div>
            <div class="col center">
              <p class="center brown-text"><a href="https://www.instagram.com/{{ insta }}"><img class="sm-icon" src="/images/instagram.png"></a></p>
            </div>
            <div class="col  center">
              <p class="center brown-text"><a href="https://www.facebook.com/{{ facebook }}"><img class="sm-icon" src="/images/facebook-box.png"></a></p>
            </div>
          </div>
        </div> 
      </div>
    </div> 
    </div>
  </div>
</container>
{{/if}}

